// Color Palette
// ================================
$body-color: #444 !default;

$color-1: #faf8ff !default;
$color-2: #273c75 !default;
$color-3: #dddddd !default;
$color-4: #4caf50 !default;

// Breakpoints
// ================================
$bp-mobile: 600px;
$bp-tablet: 800px;
$bp-desktop: 1100px;